Package: com.patricktbp.globalizediscordnames
Name: GlobalizeDiscordNames
Version: 1.0.0
Architecture: iphoneos-arm
Description: Patches Discord to use the new "global_name" attribute instead of "username".
Maintainer: patricktbp
Author: patricktbp
Section: Tweaks
Depends: mobilesubstrate, preferenceloader